<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field commentstyle">
    <strong><%= form.label :Tweet %></strong>
    <%= form.text_area :body,:size=>'100%x20%' , :required => true %>
  </div>

  <div class="actions commentstyle">
    <%= form.submit %>
  </div>
<% end %>
