<h1>tweets</h1>

<br/>

<% @tweets.each do |tweet| %>
  <% if tweet.user == current_user %>
    <div class="jumbotron jumbotweet">
      <p class="">
        <%= tweet.user.username %>
        <i class="fa fa-check-circle"></i>
        <small> @<%= tweet.user.useremail %></small>&nbsp&nbsp&nbsp
        <small>&Tab;&Tab;<%= time_ago_in_words(tweet.created_at) %> ago</small>
      </p>
      <small><p><%= time_ago_in_words(tweet.created_at) %> ago</p></small>
      

      <p class="lead">
        <%= tweet.body %>
      </p>
      <br/>
    <% if user_signed_in? && current_user==tweet.user%>
          <%= link_to 'Edit', edit_tweet_path(@tweets) %>

        <%= link_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
<% end %>


<br/>


<% if user_signed_in? %>
  <%= link_to 'New tweet', new_tweet_path, class:"btn btn-secondary" %>
<% end %>

