
<p>
  <strong>User:</strong>
  <%= @tweet.user.username %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tweet.body %>
</p>

<% if user_signed_in? %>
  <% if current_user.username == @tweet.user.username %>
    <p class="commentstyle">
      <%= link_to 'Edit', edit_tweet_path(@tweet),class: "btn btn-outline-primary" %>
    </p>       
    <p class="commentstyle">
        <%= link_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
    </p>
  <% end %>
<% end %>

