
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
   
    <%= link_to image_tag('/img/logo.png',class:"logo",height:"50",alt:'logo'), root_path ,class:"navbar-brand"%>

    <%= form_tag root_path,class:"form-inline my-2 my-lg-0 search",:method => "get" do %>
    <%= text_field_tag :search,params[:search],class:"form-control mr-sm-2 search-box"%>
    <%= submit_tag "Search",class:"btn btn-outline-primary my-2 my-sm-0"%>
    <% end %>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbar-list-4">
            <ul class="navbar-nav">
            <% if user_signed_in? %>
            

                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <%= link_to "My tweets", tweets_path, class:"nav-link dropdown-item" %>
                        <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link dropdown-item" %>
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link dropdown-item" %>
                    </div>
                </li>  


        
                <% else %>
        
                <li class="nav-item">
                    <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
                    </li>
        
                    <li class="nav-item">
                    <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
                    </li>
        
                    
                <% end %>
            </ul>
        </div>
    


    
</nav>
