<h1>tweets</h1>

<br/>

<% if user_signed_in? %>
  <div class="jumbotron jumbotweet">
    <%= form_with(tweet: @tweet) do |form| %>


      <div class="field commentstyle">
        <strong><%= form.label :Tweet %></strong>
        <%= form.text_area :body,:size=>'100%x0%' , :required => true %>
      </div>

      <!-- <div class="actions commentstyle">
        <%= form.submit %>
      </div> -->
    <% end %>

  </div>
<% end %>


<% @tweets.each do |tweet| %>
  <div class="jumbotron jumbotweet">
    <p class="">
      <%= tweet.user.username %>
      <i class="fa fa-check-circle"></i>
      <small> @<%= tweet.user.useremail %></small>&nbsp&nbsp&nbsp
      <small>&Tab;&Tab;<%= time_ago_in_words(tweet.created_at) %> ago</small>
    </p>
    <small><p><%= time_ago_in_words(tweet.created_at) %> ago</p></small>
    

    <p class="lead">
      <%= tweet.body %>
    </p>
    <br/>
  <% if user_signed_in? && current_user==tweet.user%>
        <%= link_to 'Edit', edit_tweet_path(@tweets) %>

      <%= link_to 'Delete', @tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
